#
# Example slurmdbd.conf file.
#
# See the slurmdbd.conf man page for more information.
#
# Archive info
#ArchiveJobs=yes
#ArchiveDir="/tmp"
#ArchiveSteps=yes
#ArchiveScript=
#JobPurge=12
#StepPurge=1
#
# Authentication info
AuthType=auth/munge
AuthInfo=/var/run/munge/munge.socket.2
#
# slurmDBD info
DbdAddr=localhost
DbdHost={{ inventory_hostname_short }}
#DbdPort=7031
SlurmUser=slurm
#MessageTimeout=300
DebugLevel=4
#DefaultQOS=normal,standby
LogFile={{ slurm_log_dir }}/slurmdbd.log
PidFile={{ slurm_pid_dir }}/slurmdbd.pid
#PluginDir=/usr/lib/slurm
PrivateData=accounts,users,usage,jobs,reservations
#TrackWCKey=yes
#
# Database info
StorageType=accounting_storage/mysql
#StorageHost={{ inventory_hostname }}
#StoragePort=1234
StoragePass={{ mysql_slurm_passwd.stdout }}
StorageUser=slurm
StorageLoc={{ slurm_database_name }}

